.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
body {
  background-color: sand;
}
.center-text{
  text-align: center;
}
#main_nav li{
  border-right: 2px solid black;
}
#main_nav a{
  color: inherit;
}
.log-in-form {
  border: 1px solid #cacaca;
  padding: 2rem;
  border-radius: 3px;
}
.space-out{
  margin: 0rem 2rem 0rem 2rem;
}
